

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Stratos LC Web';
}
a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px; 
    margin: 0 auto;
    padding: 0 15px;
}

.btn {  
    padding: 16px 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    &.btn-blue {
        background: linear-gradient(90.38deg, #31309A 0.4%, #251957 94.85%);
    }
    &.btn-white {
        background: #fff;
        padding: 25px 43px;
        color: #241355;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
    }
    &.btn-white-mod {
        background: #fff;
        padding: 15px 30px;
        color: #241355;

    }
    &.btn-blue-form {
        padding: 16px 30px !important;
        color: #FFFFFF;
        max-width: 130px !important;
        background: linear-gradient(90.38deg, #31309A 0.4%, #251957 94.85%) !important;
    }
    img {
        margin-left: 12px;
    }
}

.title-unic {
    padding-left: 20px;
    border-left: 5px solid #241355;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;

    color: #241355;
}

.header {
    width: 100%;
    max-width: 1150px; 
    display: flex;

    position: fixed;
    z-index: 40;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%,0%);

    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 95px;
    background: #241355;
    .add-info {
        display: flex;
        align-items: center;
        a {
            margin-right: 77px;
            font-weight: normal;
            font-size: 11px;
            line-height: 14px;
            color: #BDB8CC;
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
        }
    }
    .lang-header {
        display: flex;
        align-items: center;
        a {
            margin-left: 36px;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            
            color: #BDB8CC;
            &.active {
                color: #fff;
            }
        }
    }
    .lang-drop {
        position: relative;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        cursor: pointer;
        transition: 0.3s;
        color: #BDB8CC;
        &.active {
            p {
                img {
                    transform: rotate(180deg);
                }
            }
            .lang-drop-list {
                display: flex;
            }
        }
        p {
            transition: 0.3s;
            img {
                transition: 0.3s;
                margin-right: 5px;
            }
        }
        .lang-drop-list {
            padding: 5px;
            width: 100%;
            min-width: 45px;
            position: absolute;
            top: 180%;
            right: -19px;
            display: none;
            justify-content: center;
            align-items: center;
           
            background: #241355;
            border-radius: 0px 0px 5px 5px;
            .lang-drop-list-wrapper {
                overflow: hidden;
                overflow-y: auto;
                width: 100%;
                height: 100%;
                max-height: 80px;
                padding: 5px 6px;
                
                
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                
                a {
               
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    margin-bottom: 10px;
                    color: #BDB8CC;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &.active {
                        color: #fff;
                    }
                }
            }


        }
        ::-webkit-scrollbar-button {
            background-image:url('');
            background-repeat:no-repeat;
            width:5px;
            height:0px
        }
            
        ::-webkit-scrollbar-track {
            background: #3232A1;
            border-radius: 100px;
        }
            
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background: #FFFFFF;
            border-radius: 100px;
        }
            
        ::-webkit-scrollbar-thumb:hover{
            background: #FFFFFF;
            border-radius: 100px;
        }
            
        ::-webkit-resizer{
            background-image:url('');
            background-repeat:no-repeat;
            width:4px;
            height:0px
        }
            
        ::-webkit-scrollbar{
            width: 4px;
        }
    }
}
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 95px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    .menu {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -50px;
        a {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;

            color: #241355;
            &.active {
                text-decoration: underline;
            }
        }
       
    }
    .menu-mobile {
        display: none;
    }
}

.section-main {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    z-index: 2;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: linear-gradient(107.79deg, #31309A 0.31%, #251957 116.12%);  
    }
    &::after {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
      
        bottom: 0;
        z-index: -5;
        background: url("../img/bg.png") center bottom no-repeat;  
        background-size: contain;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.box-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
        width: 100%;
        max-width: 675px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .title {
            font-weight: bold;
            font-size: 25px;
            line-height: 150%;
            margin-bottom: 20px;
            color: #FFFFFF;
        }
        .subtitle {
            padding-left: 20px;
            border-left: 5px solid #fff;
            font-weight: normal;
            font-size: 17px;
            line-height: 150%;

            color: #BDB8CC;
            margin-bottom: 40px;
        }
        .btn-down {
            margin-top: 40px;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            
            color: #FFFFFF;
            margin-bottom: 10px;
            opacity: 0.5;
            img {
                margin-right: 10px;
            }
        }
    }
}
.boxs-main-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -250px;
    margin-top: 20px;
    &.mobile-main {
        display: none;
    }
    .box {
        width: 100%;
        max-width: 255px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        .top {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom:  23px;
            .img {
                margin-right: 12px;
            }
            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                
                color: #3232A1;
            }
        }
        p {
            font-weight: normal;
            font-size: 13px;
            line-height: 150%;

            color: #000000;
        }
        a {
            margin-top: 10px;
            font-weight: normal;
            font-size: 13px;
            line-height: 150%;

            text-decoration-line: underline;
            
            color: #BDB8CC;
        }
    }
}

.section-company {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 100px;
        
    }
}
.company-img {
    width: 49%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        right: -140px;
        top: -200px;
        pointer-events: none;
        background: url("../img/company/bg.png") right top no-repeat;
        background-size: contain;
    }
    img {
        &:nth-child(1) {
            position: absolute;
            pointer-events: none;

            left: -40px;
            top: -50px;
        }
        &:nth-child(2) {
            position: absolute;
            pointer-events: none;
            right: 0px;
            top: 100px;
            z-index: 2;
        }
    }

    
}
.company-description {
    width: 50%;
    padding-left: 0px;
    &.mobile {
        display: none;
    }
    .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;

        color: #241355;
        padding-left: 20px;
        border-left: 5px solid #241355;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 25px;
        font-weight: normal;
        font-size: 15px;
        line-height: 200%;

        color: #000000;
    }
}
.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    &.slider-js-tabs {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        overflow: hidden;
        padding: 0 15px;
        
        &.active {
            opacity: 1;
            position: relative;
            pointer-events: visible;
        }
    }
    .swiper-container {
        padding-bottom: 100px;
        padding-top: 50px;
        .swiper-wrapper {
            .swiper-slide {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: "";
                    width: 1px;
                    height: 80%;
                    max-height: 170px;
                    position: absolute;
                    right: 0;
                    top: 20%;
                    background: #D9DDEB;
                    
                }
                &:last-child {
                       
                    &::before {
                        display: none;
                    }
                }
                .box {
                    width: 85%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;
             
                    img {
                        margin-bottom: 20px;
                    }
                    span {
                        display: block;
                        margin-bottom: 20px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 150%;
            
                        text-align: center;
                        
                        color: #241355;
                    }
                    p {
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 200%;
            
                        text-align: center;
                        
                        color: #000000;
                    }
                }
            }
        }
        .swiper-pagination {
            
            width: 100%;
            max-width: 275px;
            margin: 0 auto;
            position: relative;
            bottom: -95px;
            display: flex;
            align-items: center;
            .swiper-pagination-bullet {
                width: 100%;
                border-radius: 0;
                margin: 0;
                background: #ECECEC;
                border-radius: 100px;
                &.swiper-pagination-bullet-active {
                    background: #3232A1;
                }
            }
        }
        .swiper-button-next {
      
            top: 98%;
            right: 0;
            right: 35%;
            &::after {
                font-size: 20px;
                font-weight: 600;
                color: #3232A1;
            }
        }
        .swiper-button-prev {
    
            top: 98%;
            left: 35%;
           
            &::after {
                font-size: 20px;
                font-weight: 600;
                color: #3232A1;
            }
        }
    }
    .swiper-container-urist {
        width: 100%;
        position: relative;
        padding-bottom: 100px;
        .swiper-wrapper {
            .swiper-slide {
 
                .box {
                    width: 100%;
    
                    max-width: 285px;
                    max-height: 285px;
                    min-height: 285px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: flex-end;
                    position: relative;
                    overflow: hidden;
                    
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }

                    p {
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 200%;
                        padding-bottom: 26px;
                        text-align: left;
                        color: #FFFFFF;
                        padding-left: 16px;
                        
                    }
                }
            }
        }
        .swiper-pagination {
            
            width: 100%;
            max-width: 275px;
            margin: 0 auto;
            position: relative;
            bottom: -76px;
            display: flex;
            align-items: center;
            .swiper-pagination-bullet {
                width: 100%;
                border-radius: 0;
                margin: 0;
                background: #ECECEC;
                border-radius: 100px;
                &.swiper-pagination-bullet-active {
                    background: #3232A1;
                }
            }
        }
        .swiper-button-next {
      
            top: unset;
            bottom: 5px;

            right: 35%;
            &::after {
                font-size: 20px;
                font-weight: 600;
                color: #3232A1;
            }
        }
        .swiper-button-prev {
    
            top: unset;
            bottom: 5px;
            left: 35%;
           
            &::after {
                font-size: 20px;
                font-weight: 600;
                color: #3232A1;
            }
        }
    }

}

.section-info-product {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
    background: linear-gradient(109.13deg, #31309A 0.27%, #251957 88.8%);
    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url("../img/product-info/2.png") bottom left no-repeat;
        background-size: contain;
    }
    &::after {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: url("../img/product-info/3.png") top right no-repeat;
        background-size: contain;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.product-img {
    margin-left: -100px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -50px;
    img {
        pointer-events: none;
    }
}
.product-description {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    span {
        display: block;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;

        color: #FFFFFF;
    }
    p {
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;
        font-weight: 200;
        font-size: 15px;
        line-height: 200%;
        opacity: 0.8;
        color: #FFFFFF;
        img {
            margin-right: 17px;
            margin-top: 10px;
        }
    }
    .btn {
        margin-top: 25px;
    }
}

.section-lawyer {
    width: 100%;
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .btns {
        margin: 0 auto;
        margin-bottom: 90px;
        display: flex;
        flex-wrap: wrap;
        .btn-l {
            padding: 23px 26px;
            margin: 0 25px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            background: linear-gradient(0deg, #ECECEC, #ECECEC);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &.active {
                color: #fff;
                background: linear-gradient(90.38deg, #31309A 0.4%, #251957 94.85%);
                img {
                    transform: rotate(45deg);
                    filter: invert(1);
                }
            }
            img {
                margin-left: 15px;
            }
        }
    }
}

.section-intelligence {
    width: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 130px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.intelligence-text {
    width: 100%;
    min-width: 630px;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    span {
        padding-left: 20px;
        display: block;
        margin-bottom: 16px;
        border-left: 5px  solid #241355;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;

        color: #241355;
        
    }
    p {
        font-weight: normal;
        font-size: 15px;
        line-height: 200%;

        color: #000000;
    }
}
.intelligence-img {
    margin-left: -100px;
    &.img-2 {
        margin-left: 0;
    }
}

.section-tarifs {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 130px;
    &.p180 {
        padding-top: 180px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.tarifs-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    .box-description {
        max-width: 380px;

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .title-top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-height: 196px;
            position: relative;
            &::before {
                content: "";
                width: 170%;
                height: 100%;
                position: absolute;
                mix-blend-mode: normal;
                border-bottom: 1px solid #7F7B8B;
                pointer-events: none;
            }

            .text {
                padding-left: 20px;
                border-left: 5px solid #3232A1;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                span {
                    display: block;
                    margin-bottom: 16px;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 150%;
    
                    color: #241355;
                }
                p {
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 200%;
     
                    color: #000000;
                }
            }

        }
        .list{
            width: 100%;
            text-align: left;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            &::before {
                content: "";
                width: 170%;
                height: 100%;
                position: absolute;
                mix-blend-mode: normal;
                pointer-events: none;
                border-bottom: 1px solid #7F7B8B;
            }
            &:last-child {
                border: none;
                &::before {
                    display: none;
                }
            }
            &.l2  {
                min-height: 104px;
            }
            &.l3  {
                min-height: 200px;
            }
            &.l4  {
                min-height: 147px;
            }
            &.l5  {
                min-height: 110px;
            }
            &.l6  {
                min-height: 85px;
            }
            &.l7  {
                min-height: 245px;
                position: relative;
                z-index: 2;
            }
            &.l8  {
                min-height: 85px;
            }
            &.l9  {
                min-height: 245px;
            }
            p {
                display: list-item;
                font-weight: normal;
                font-size: 11px;
                line-height: 200%;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 20px;
                &::before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    background: #000;
                   
                }
                color: #000000;
            }
            span {
                display: block;
                background: #F5F5FA;
                border: 1px solid #ECECEC;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 16px 25px;
                font-weight: normal;
                font-size: 10px;
                line-height: 200%;

                text-align: justify;
                
                color: #000000;
            }
            
        }
       
    }
    .box-tarif {
        width: 100%;
        max-width: 200px;

        padding-bottom: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &.white {
       
            border-radius: 20px;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                border-radius: 20px;
                background: #F5F5FA;
            }
            .title {
                .price {
                    span {
                        color: #3232A1;
                    }
                }
            }
        }
        &.white-size {
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: calc(100% - 100px);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                border-radius: 20px;
                background: #F5F5FA;
            }
        }
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 196px;
            position: relative;
            &::before {
                content: "";
                width: 170%;
                height: 100%;
                position: absolute;
                right: 0;
                mix-blend-mode: normal;
                pointer-events: none;
                border-bottom: 1px solid #7F7B8B;
            }

            .price {
               
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                span {
                    display: block;
                    
                    font-weight: normal;
                    font-size: 50px;
                    line-height: 140%;

                    text-align: center;
                    
                    color: #000000;
                    
                }
                p {
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 200%;
     
                    color: #000000;
                }
            }

        }
        .list{
            width: 100%;
            text-align: left;

  
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            position: relative;
            &::before {
                content: "";
                width: 170%;
                height: 100%;
                position: absolute;
                right: 0;
                mix-blend-mode: normal;
                pointer-events: none;
                border-bottom: 1px solid #7F7B8B;
            }
            &:last-child {
                border: none;
                &::before {
                    display: none;
                }
            }
            &.l2  {
                min-height: 104px;
            }
            &.l3  {
                min-height: 200px;
            }
            &.l4  {
                min-height: 147px;
            }
            &.l5  {
                min-height: 110px;
            }
            &.l6  {
                min-height: 85px;
            }
            &.l7  {
                min-height: 245px;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 50px;
               
            }
            &.ltop {
                padding-top: 35px;
                display: flex;
                justify-content: flex-start !important;
            }
            &.l8  {
                min-height: 85px;
            }
            &.l9  {
                min-height: 245px;
            }
            span {
                font-weight: normal;
                font-size: 13px;
                line-height: 200%;

                text-align: center;
                
                color: #000000;
            }
            p {
                font-weight: normal;
                font-size: 13px;
                line-height: 200%;

                text-align: center;
                
                color: #3232A1;
            }
            
        }
       
    }
    .btn-all {
        width: 100%;
        max-width: 730px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(180deg, #31309A 0%, #251957 100%);
        border: 1px solid #E7DDDD;
        box-sizing: border-box;
        border-radius: 5px;
        position: absolute;
        bottom: 160px;
        right: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}
.tarif-row-mobile {
    display: none;
}
.how-it-works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 130px;
    .img {
        width: 50%;
        margin-top: -200px;
    }
    .text {
        width: 45%;
        span {
            padding-left: 20px;
            border-left: 5px solid #241355;
            display: block;
            margin-bottom: 16px;
            font-weight: bold;
            font-size: 30px;
            line-height: 150%;

            color: #241355;
        }
        p {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 15px;
            line-height: 200%;

            color: #000000;
            img {
                margin-right: 15px;
                margin-top: 10px;
            }
        }
    }
}

.section-partners {
    width: 100%;
    min-height: 700px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(109.13deg, #31309A 0.27%, #251957 88.8%);
    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url("../img/parters/Cicrles.png") top left no-repeat;
        background-size: contain;
    }
    &::after {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: url("../img/parters//Cicrle2.png") bottom right no-repeat;
        background-size: contain;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
}
.partners-text-form {
    width: 100%;
    max-width: 572px;
    display: flex;
    flex-direction: column;
    span {
        padding-left: 20px;
        border-left: 5px solid #fff;
        display: block;
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;

        color: #FFFFFF;
    }
    p {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 15px;
        line-height: 200%;

        color: #FFFFFF;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 15px;
            line-height: 200%;
            position: relative;
            color: #FFFFFF;
            padding-left: 15px;
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                left: -5px;
                top: 3px;
                background: linear-gradient(0deg, #E64D2E, #E64D2E), #C4C4C4;
            }
        }
    }
    .mobile {
        display: none;
    }
    form {
        margin-top: 20px;
        margin-bottom: 47px;
        width: 100%;
        max-width: 440px;
        display: flex;
        flex-wrap: wrap;
        input {
            width: 100%;
            max-width: 203px;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            min-height: 50px;
            background: #25206B;
            border-radius: 5px;
            color: #fff;
            padding: 16px 20px;
            border: none;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        .phone {
            max-width: 233px;
        }
        .btn {
            max-width: 173px;
            background: #fff;
            color: #241355;
        }
        ::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            color: #726FB4;
        }
    }
    .vopros {
        font-weight: normal;
        font-size: 12px;
        line-height: 200%;

        color: #C1C0DD;
        margin-bottom: 10px;
        b {
            font-weight: 500;
            color: #fff;
        }
    }
}
.partners-vertical {
    width: 100%;
    max-width: 540px;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    .box {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        &.w80 {
            width: 80%;
            margin-left: 20%;
        }
        &.w65 {
            width: 65%;
            margin-left: 35%;
        }
        img {
            margin-bottom: 15px;
        }
        span {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;

            color: #FFFFFF;
        }
        p {
            font-weight: normal;
            font-size: 13px;
            line-height: 200%;

            color: #C1C0DD;
        }
    }
}

.section-advantages {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
   
        .title-unic {
            margin-bottom: 100px;
           
        }
    }

}

.section-news {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.mobile {
        display: none;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .title-unic {
            margin-bottom: 70px;
        }
        .news-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .box {
                width: 100%;
                max-width: 350px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                text-align: left;
                .img {
                    margin-bottom: 20px;
                    display: flex;
                    border-radius: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                span {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    
                    color: #000000;
                }
                p {
                    margin-bottom: 10px;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 200%;
                    cursor: pointer;
                    color: #000000;
                }
                .date {
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 200%;
                    color: rgba(193, 192, 221, 1);
                }
            }
        }
    }
}

.footer {
    width: 100%;
    min-height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(109.13deg, #31309A 0.27%, #251957 88.8%);
    a {
        margin: 0 38px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;

        color: #FFFFFF;
    }
}

.modal-menu {
    display: none;
}

.section-404 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background:  url("../img/404.png") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            font-weight: bold;
            font-size: 150px;
            line-height: 150%;

            color: #FFFFFF;
        }
        .subtitle {
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;

            text-align: center;
            margin-bottom: 40px;
            color: #BDB8CC;
        }
        .btn {

        }
    }
}

.modal-contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 60;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: 0.3s;
    &.active {
        opacity: 1;
        transform: scale(1);
        pointer-events: visible;
    }
    .modal-contact-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 59;
        background: #fff;
        cursor: pointer;
        opacity: 0.5;
    }
    .modal-contact-body {
        width: 100%;
        max-width: 730px;
        padding: 50px 60px;
        z-index: 60;
        background: #FFFFFF;
        border: 1px solid #241355;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        .close {
            position: absolute;
            right: 50px;
            top: 50px;
            color: #241355;
            font-weight: 600;
            font-size: 30px;
            cursor: pointer;
        }
        .title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 25px;
            line-height: 150%;

            text-align: center;
            
            color: #241355;
            
        }
        .subtitle {
            margin-bottom: 30px;
            font-weight: normal;
            font-size: 15px;
            line-height: 200%;

            text-align: center;
            
            color: #000000;
        }
        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
            input {
                width: 100%;
                max-width: 255px;
                margin: 15px;
                margin-bottom: 30px;
                padding: 15px 20px;
                background: #ECECEC;
                border-radius: 5px;
                border: none;
            }
            .btn {
                margin: 0;
            }
            ::placeholder {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;

                color: #BDB8CC;
            }
        }
        .politic {
            font-weight: normal;
            font-size: 13px;
            line-height: 200%;
            color: rgba(189, 184, 204, 1);
            text-align: center;
        }

    }
}

.modal-uvedomlenie {
    position: fixed;
    z-index: 100;
    right: -150%;
    bottom: 20px;
    background: rgba(0, 0, 0,.9);
    backdrop-filter: blur(15px);
    transition: 0.3s;
    padding: 20px;
    &.active {
        
        right: 20px;
    }
    span {
        color: #fff;
        text-align: center;
        display: block;
        
    }
}

.section-politic {
    width: 100%;
    min-height: 100vh;
    padding: 200px 0;
    .container {
        display: flex;
        flex-direction: column;
        .title {
            font-weight: bold;
            font-size: 30px;
            line-height: 150%;
            padding-left: 20px;
            color: #241355;
            border-left: 3px solid #241355;
            margin-bottom: 70px;
        }
        p {
            font-weight: normal;
            font-size: 17px;
            line-height: 200%;

            text-align: justify;
            
            color: #000000;
        }
    }
}

@media (max-width: 1450px) {
    .slider {

        .swiper-container {
         
            .swiper-wrapper {
                .swiper-slide {

                    .box {
                        width: 90%;

                        span {

                            font-size: 16px;
                            line-height: 150%;

                        }
                        p {
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 200%;
    
                        }
                    }
                }
            }
            .swiper-button-next {

                right: 32%;

            }
            .swiper-button-prev {

                left: 32%;

            }

        }
    
    }
}
@media (max-width: 1250px) {
    .slider {

        .swiper-container {

            .swiper-button-next {

                right: 30%;

            }
            .swiper-button-prev {

                left: 30%;

            }

        }
    
    }
}
@media (max-width: 980px) {
    .btn {
        font-size: 13px;
        padding: 13px 19px;
        &.btn-blue {
            padding: 11px;
            font-size: 12px;
            line-height: 15px;
        }
        &.btn-white {
            font-size: 13px;
            padding: 13px 19px;
        }
        &.btn-white-mod {
            font-size: 13px;
            padding: 13px 15px;
        }
    }

    .title-unic {
        font-size: 20px;
        line-height: 150%;
    }

    .header {
        .container {
            padding: 0;
        }
    }
    .header-top {
        display: none;

    }
    .header-bottom {
        padding: 20px;
        border-radius: 0;
        .menu {
            display: none;
        }
    }
    .menu-mobile {
        width: 100%;
        max-width: 27px;
        min-height: 20px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        span {
            width: 100%;
            height: 3px;
            background: #241355;
        }
    }

    
    .section-main {
        padding-top: 130px;
        min-height: 470px;
        padding-bottom: 100px;
        overflow: hidden;

        &::after {
            left: -100px;
            width: 100%;

        }
    }
    .box-main {
        flex-direction: column;
        .text {
            max-width: 100%;
         
            .title {
                font-size: 17px;
                line-height: 150%;
            }
            .subtitle {
                font-size: 13px;
                border-left: 3px solid #fff;
                line-height: 150%;
            }
        }
        .img {
            position: absolute;
            bottom: -140px;
            right: -220px;
            z-index: -1;
            img {
                width: 70%;
            }
        }
    }
    .boxs-main-row {
        margin-bottom: -360px;
        margin-top: 80px;
        display: none;
        &.mobile-main {
            display: flex;
            bottom: 0;
            top: -40px;
            padding: 0 15px;
            margin-bottom: 0;
            margin-top: 0px;
            z-index: 2;
            position: relative;
            overflow: hidden;
            padding-bottom: 30px;
            .slider {
                width: 100%;
                .swiper-mobile-main {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            .box {
                                width: 100%;
                                max-width: 100%;
                                min-width: 100%;
                            }
                        }
                    }
                }
            }
        }
      
        .box {
            min-width: 255px;
            margin-right: 10px;
            .top {
                span {
                    font-size: 16px;
                }
            }
            p {
                font-size: 13px;
                line-height: 150%; 
            }
        }
    }

    .section-company {
        padding-bottom: 70px;
        padding-top: 0;
        max-height: 100%;
        min-height: 100%;
        z-index: 3;
        .container {
            align-items: center;
            flex-direction: column;
        }
    }
    .company-img {
        width: 60%;
        order: 2;
        margin-right: 0;
        min-height: 450px;
        margin: 20px 0;
        overflow: hidden;
        &::before {
            top: -150px;
            right: -100px;
        }
        img {
            width: 100%;
        }
    }
    .company-description {
        width: 100%;
        &.mobile {
            display: block;
            order: 2;
        }
        .title {
            font-size: 20px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
            &.p-block {
                display: none;
            }
        }
    }
    .slider {
        .swiper-container {
            padding-bottom: 70px;
            .swiper-wrapper {
                .swiper-slide {
                    
                    &::before {
                        display: none;
                    }
                    .box {
                        width: 90%;
                        span {
                            font-size: 15px;
                            line-height: 150%;
                        }
                        p {
                            font-size: 13px;
                            line-height: 200%;
                        }
                    }
                }
             
            }
            .swiper-pagination {
                bottom: -63px;
                max-width: 200px;
            }
            .swiper-button-next {

                right: 10%;
                top: 96%;

            }
            .swiper-button-prev {

                left: 10%;
                top: 96%;
            }

        }
        .swiper-container-urist {
            padding: 0;
            padding-bottom: 70px;


            .swiper-pagination {
                bottom: -60px;
                max-width: 200px;
            }
            .swiper-button-next {

                right: 0%;
                top: 96%;

            }
            .swiper-button-prev {

                left: 0%;
                top: 96%;
            }

        }
    }

    .section-info-product {
        overflow: hidden;
        padding-bottom: 100px;
        .container {
            flex-direction: column;
        }
    }
    .product-img {
        width: 50%;
        order: 2;
        position: absolute;
        right: -80px;
    
        bottom: -30px;
        margin-left: 0;
        img {
            width: 100%;
        }
    }
    .product-description {
        width: 100%;
        span {
            font-size: 17px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
        }
    }

    .section-lawyer {
        padding: 70px 0px;
        padding-bottom: 35px;
        .btns {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 54px;
            .btn-l {
                width: 100%;
                padding: 17px 20px;
                margin: 0;
                margin-bottom: 33px;
                font-size: 12px;
                line-height: 15px;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }

    .section-intelligence {
        padding: 50px 0;
        overflow: hidden;
        max-height: 100%;
        min-height: 100%;
        padding-bottom: 50px;
        .container {
            flex-direction: column;
        }
    }
    .intelligence-text {
        min-width: 100px;
        max-width: 100%;
        span {
            font-size: 20px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
        }
    }
    .intelligence-img {
        margin-left: 0;
        width: 100%;
        position: relative;
        left: 35px;
        margin-top: -100px;
        margin-bottom: -100px;
        overflow: hidden;
        &.img-2 {
            width: 70%;
            margin-top: 0;
            margin-bottom: 0;
        }
        img {
            width: 100%;
        }
    }

    .section-tarifs {
        overflow: hidden;
        padding-bottom: 50px;
        .container {
            padding: 0;
        }
    }
    .tarifs-row {
        display: none;
    }
    .tarif-row-mobile {
        width: 100%;
        display: block;
        overflow: hidden;
        .title {
            padding-left: 20px;
            border-left: 5px solid #241355;
            
            margin: 0 15px;
            span {
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;

                color: #241355;
            }
            p {
                font-weight: normal;
                font-size: 13px;
                line-height: 200%;

                color: #000000;
            }
        }
        .tarif-row-mobile--wrapper {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-mobile-tarif {
                width: 100%;
                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.swiper-slide-active {
                            .block {
                           
                                background: rgba(50, 50, 161,.05);
                                .list {
                                    &.list-text {
                                        opacity: 1;
                                    }
                                    .btn-top {
    
                                        opacity: 1;
                                        pointer-events: visible;
                                    }
                                }
                            }
                        }
                        .block {
                            width: 100%;
                            max-width: 145px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            border-radius: 20px;
                            .list {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                padding: 30px 0;
                                position: relative;
                                &:last-child {
                                    &::before {
                                        display: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    width: 150%;
                                    height: 1px;
                                    position: absolute;
                                    
                                    bottom: 0;
                                    mix-blend-mode: darken;
                                    background: #7F7B8B;
                                    pointer-events: none;
                                    
                                }
                                &.blue {
                                    span {
                                        color: #3232A1;
                                    }
                                }
                                &.list-top {
                                    span {
                                        font-weight: normal;
                                        font-size: 30px;
                                        line-height: 200%;
                
                                        text-align: center;
                                        
                                        color: #3232A1;
                                    }
                                    p {
                                        font-weight: normal;
                                        font-size: 13px;
                                        line-height: 150%;
                
                                        text-align: center;
                                        
                                        color: #000000;
                                    }
                                }
                                &.list-text {
                                    width: 100%;
                                    min-width: 290px;
                                    text-align: left;
                                    padding-left: 0px;
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
                                    padding-bottom: 0;
                                    color: #000000;
                                    display: flex;
                                    opacity: 0;
                                    align-items: flex-start;
                                    &::after {
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: -20px;
                                        background: #000;
                                    }
                                    &::before {
                                        display: none;
                                    }
                                    
                                }
                                span {
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
            
                                    text-align: center;
                                    
                                    color: #000000;
                                }
                                p {
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
            
                                    text-align: center;
                                    
                                    color: #3232A1;
                                }
                                .btn {
                                    min-width: 104px;
                                    min-height: 50px;
                                }
                                .btn-top {
                                    margin-bottom: 58px;
                                    text-align: center;
                                    width: 100%;
                                    min-width: 280px;
                                    opacity: 0;
                                    pointer-events: none;
                                    background: #FFFFFF;
                                    border: 1px solid #F2F2F2;
                                    box-sizing: border-box;
                                    border-radius: 5px;
                                }
                                &.l2  {
                                    min-height: 104px;
                                }
                                &.l3  {
                                    min-height: 200px;
                                }
                                &.l4  {
                                    min-height: 147px;
                                }
                                &.l5  {
                                    min-height: 110px;
                                }
                                &.l6  {
                                    min-height: 85px;
                                }
                                &.l7  {
                                    min-height: 245px;
                                    display: flex;
                                    justify-content: flex-end;
                                    padding-bottom: 50px;
                                   
                                }
                                &.ltop {
                                    padding-top: 35px;
                                    display: flex;
                                    justify-content: flex-start !important;
                                }
                                &.l8  {
                                    min-height: 85px;
                                }
                                &.l9  {
                                    min-height: 245px;
                                }
            
                            }
                        }
                    }
                }
            }

        }
    }
    .how-it-works {
        margin-top: 75px;
        flex-direction: column;
        padding: 15px;
        .img {
            order: 2;
            width: 110%;
            margin-right: -50px;
            margin-top: -50px;
            margin-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }
        .text {
            width: 100%;
            span {
                font-size: 20px;
                line-height: 150%;
            }
            p {
                font-size: 13px;
                line-height: 200%;
            }
        }
    }

    .section-partners {
        min-height: 100%;
        &::before {
            width: 100%;
         
        }
        &::after {
            width: 100%;
            left: 0;
            right: unset;
        }
        .container {
            align-items: center;
            flex-direction: column;
        }
    }
    .partners-text-form {
        max-width: 100%;
        span {
            font-size: 17px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 150%;
            opacity: 0.8;
        }
        .mobile {
            display: flex;
        }
        form {
            width: 100%;
            max-width: 250px;
            input {
                max-width: 100%;
                margin-right: 0;
            }
            .phone {
                max-width: 100%;
            }
        }
    }
    .partners-vertical {
        max-width: 100%;
        display: none;
        .box {
            width: 100% !important;
            margin-left: 0 !important;
            span {
                font-size: 15px;
                line-height: 150%;
                padding-left: 0;
                border: none;
            }
            p {
                font-size: 13px;
                line-height: 150%;
            }
        }
    }

    .section-advantages {
        min-height: 100%;
        padding: 30px 0;
        .container {
            flex-direction: column;
            .title-unic {
                margin-bottom: 70px;
            }
        }
    }

    .section-news {
        min-height: 100%;
        display: none;
        overflow: hidden;
        &.mobile {
            display: block;
        }
        .container {
            .news-row {
              
                .box {
                    max-width: 100%;
                }
                .swiper-mobile {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide {
                            .box {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        min-height: 100%;
        flex-direction: column;
        padding-top: 33px;
        a {
            margin-bottom: 33px;
        }
    }

    .modal-menu {
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 50;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.2);
        transition: 0.3s;
        &.active {
            opacity: 1;
            pointer-events: visible;
            transform: scale(1);
        }
        .menu {
            height: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 40px 0;
            a {
                
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                
                color: #241355;
                &.active {
                    text-decoration: underline;
                }
            }
        }
        hr {
            width: 100%;
            border: 1px solid #F0F0F0;
        }
        .add-info {
            display: flex;
            justify-content: space-around;
            height: 100%;
            max-height: 100px;
            width: 100%;
            align-items: center;
            flex-direction: column;

            a {
               
                font-weight: normal;
                font-size: 11px;
                line-height: 14px;
                color: #241355;
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }
        .lang-header {
            display: flex;
            width: 100%;
            height: 100%;
            max-height: 100px;
            justify-content: center;

            align-items: center;
            a {
                
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                margin: 0 18px;
                color: #BDB8CC;
                &.active {
                    color: #241355;
                }
            }
        }
    }

    .section-politic {

        padding: 100px 0;
        .container {

            .title {
             
                font-size: 20px;
    
                padding-left: 10px;

                margin-bottom: 35px;
                br {
                    display: none;
                }
            }
            p {

                font-size: 14px;

            }
        }
    }
}
@media (max-width: 480px) {
    .btn {
        font-size: 13px;
        padding: 13px 19px;
        &.btn-blue {
            padding: 11px;
            font-size: 12px;
            line-height: 15px;
        }
        &.btn-white {
            font-size: 13px;
            padding: 13px 19px;
        }
        &.btn-white-mod {
            font-size: 13px;
            padding: 13px 15px;
        }
    }

    .title-unic {
        font-size: 20px;
        line-height: 150%;
    }

    .header {
        .container {
            padding: 0;
        }
    }
    .header-top {
        display: none;

    }
    .header-bottom {
        padding: 20px;
        border-radius: 0;
        .menu {
            display: none;
        }
    }
    .menu-mobile {
        width: 100%;
        max-width: 27px;
        min-height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        span {
            width: 100%;
            height: 3px;
            background: #241355;
        }
    }

    
    .section-main {
        padding-top: 130px;
        min-height: 470px;
        padding-bottom: 100px;
        overflow: hidden;

        &::after {
            left: -100px;
            width: 100%;

        }
    }
    .box-main {
        flex-direction: column;
        .text {
            max-width: 100%;
         
            .title {
                font-size: 17px;
                line-height: 150%;
            }
            .subtitle {
                font-size: 13px;
                border-left: 3px solid #fff;
                line-height: 150%;
            }
        }
        .img {
            position: absolute;
            bottom: -140px;
            right: -220px;
            z-index: -1;
            img {
                width: 70%;
            }
        }
    }
    .boxs-main-row {
        margin-bottom: -360px;
        margin-top: 80px;
        display: none;
        &.mobile-main {
            display: flex;
            bottom: 0;
            top: -40px;
            padding: 0 15px;
            margin-bottom: 0;
            margin-top: 0px;
            z-index: 2;
            position: relative;
            overflow: hidden;
            padding-bottom: 30px;
            .slider {
                width: 100%;
                .swiper-mobile-main {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            .box {
                                width: 100%;
                                max-width: 100%;
                                min-width: 100%;
                            }
                        }
                    }
                }
            }
        }
      
        .box {
            min-width: 255px;
            margin-right: 10px;
            .top {
                span {
                    font-size: 16px;
                }
            }
            p {
                font-size: 13px;
                line-height: 150%; 
            }
        }
    }

    .section-company {
        padding-bottom: 70px;
        padding-top: 0;
        max-height: 100%;
        min-height: 100%;
       
        .container {
            align-items: center;
            flex-direction: column;
        }
    }
    .company-img {
        width: 100%;
        order: 2;
        margin-right: 0;
        min-height: 450px;
        margin: 20px 0;
        overflow: hidden;
        &::before {
            top: -150px;
            right: -100px;
        }
        img {
            width: 100%;
        }
    }
    .company-description {
        width: 100%;
        &.mobile {
            display: block;
            order: 2;
        }
        .title {
            font-size: 20px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
            &.p-block {
                display: none;
            }
        }
    }
    .slider {
        .swiper-container {
            padding-bottom: 70px;
            .swiper-wrapper {
                .swiper-slide {
                    
                    &::before {
                        display: none;
                    }
                    .box {
                        width: 90%;
                        span {
                            font-size: 15px;
                            line-height: 150%;
                        }
                        p {
                            font-size: 13px;
                            line-height: 200%;
                        }
                    }
                }
             
            }
            .swiper-pagination {
                bottom: -63px;
                max-width: 200px;
            }
            .swiper-button-next {

                right: 10%;
                top: 96%;

            }
            .swiper-button-prev {

                left: 10%;
                top: 96%;
            }

        }
        .swiper-container-urist {
            padding: 0;
            padding-bottom: 70px;
            .swiper-wrapper {
                .swiper-slide {
                    .box {
                        p {
                            font-size: 13px;
                            line-height: 150%;
                        }
                    }
                }
            }
            .swiper-pagination {
                bottom: -60px;
                max-width: 200px;
            }
            .swiper-button-next {

                right: 0%;
                top: 96%;

            }
            .swiper-button-prev {

                left: 0%;
                top: 96%;
            }

        }
    }

    .section-info-product {
        overflow: hidden;
        padding-bottom: 100px;
        .container {
            flex-direction: column;
        }
    }
    .product-img {
        width: 80%;
        order: 2;
        position: absolute;
        right: -80px;
    
        bottom: -30px;
        margin-left: 0;
        img {
            width: 100%;
        }
    }
    .product-description {
        width: 100%;
        span {
            font-size: 17px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
        }
    }

    .section-lawyer {
        padding: 70px 0px;
        padding-bottom: 35px;
        .btns {
            width: 100%;
            margin-bottom: 54px;
            padding: 0 15px;
            .btn-l {
                width: 100%;
                padding: 17px 20px;
                margin: 0;
                margin-bottom: 33px;
                font-size: 12px;
                line-height: 15px;
                img {
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }

    .section-intelligence {
        padding: 50px 0;
        overflow: hidden;
        max-height: 100%;
        min-height: 100%;
        padding-bottom: 50px;
        .container {
            flex-direction: column;
        }
    }
    .intelligence-text {
        min-width: 100px;
        max-width: 100%;
        span {
            font-size: 20px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 200%;
        }
    }
    .intelligence-img {
        margin-left: 0;
        width: 160%;
        position: relative;
        left: 35px;
        margin-top: -100px;
        margin-bottom: -100px;
        overflow: hidden;
        &.img-2 {
            width: 140%;
            margin-top: 0;
            margin-bottom: 0;
        }
        img {
            width: 100%;
        }
    }

    .section-tarifs {
        overflow: hidden;
        padding-bottom: 50px;
        .container {
            padding: 0;
        }
    }
    .tarifs-row {
        display: none;
    }
    .tarif-row-mobile {
        width: 100%;
        display: block;
        overflow: hidden;
        .title {
            padding-left: 20px;
            border-left: 5px solid #241355;
            
            margin: 0 15px;
            span {
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;

                color: #241355;
            }
            p {
                font-weight: normal;
                font-size: 13px;
                line-height: 200%;

                color: #000000;
            }
        }
        .tarif-row-mobile--wrapper {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-mobile-tarif {
                width: 100%;
                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.swiper-slide-active {
                            .block {
                           
                                background: rgba(50, 50, 161,.05);
                                .list {
                                    &.list-text {
                                        opacity: 1;
                                    }
                                    .btn-top {
    
                                        opacity: 1;
                                        pointer-events: visible;
                                    }
                                }
                            }
                        }
                        .block {
                            width: 100%;
                            max-width: 145px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            border-radius: 20px;
                            .list {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                padding: 30px 0;
                                position: relative;
                                &:last-child {
                                    &::before {
                                        display: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    width: 150%;
                                    height: 1px;
                                    position: absolute;
                                    
                                    bottom: 0;
                                    mix-blend-mode: darken;
                                    background: #7F7B8B;
                                    pointer-events: none;
                                    
                                }
                                &.blue {
                                    span {
                                        color: #3232A1;
                                    }
                                }
                                &.list-top {
                                    span {
                                        font-weight: normal;
                                        font-size: 30px;
                                        line-height: 200%;
                
                                        text-align: center;
                                        
                                        color: #3232A1;
                                    }
                                    p {
                                        font-weight: normal;
                                        font-size: 13px;
                                        line-height: 150%;
                
                                        text-align: center;
                                        
                                        color: #000000;
                                    }
                                }
                                &.list-text {
                                    width: 100%;
                                    min-width: 290px;
                                    text-align: left;
                                    padding-left: 0px;
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
                                    padding-bottom: 0;
                                    color: #000000;
                                    display: flex;
                                    opacity: 0;
                                    align-items: flex-start;
                                    &::after {
                                        content: "";
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: -20px;
                                        background: #000;
                                    }
                                    &::before {
                                        display: none;
                                    }
                                    
                                }
                                span {
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
            
                                    text-align: center;
                                    
                                    color: #000000;
                                }
                                p {
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 200%;
            
                                    text-align: center;
                                    
                                    color: #3232A1;
                                }
                                .btn {
                                    min-width: 104px;
                                    min-height: 50px;
                                }
                                .btn-top {
                                    margin-bottom: 58px;
                                    text-align: center;
                                    width: 100%;
                                    min-width: 280px;
                                    opacity: 0;
                                    pointer-events: none;
                                    background: #FFFFFF;
                                    border: 1px solid #F2F2F2;
                                    box-sizing: border-box;
                                    border-radius: 5px;
                                }
                                &.l2  {
                                    min-height: 104px;
                                }
                                &.l3  {
                                    min-height: 200px;
                                }
                                &.l4  {
                                    min-height: 147px;
                                }
                                &.l5  {
                                    min-height: 110px;
                                }
                                &.l6  {
                                    min-height: 85px;
                                }
                                &.l7  {
                                    min-height: 245px;
                                    display: flex;
                                    justify-content: flex-end;
                                    padding-bottom: 50px;
                                   
                                }
                                &.ltop {
                                    padding-top: 35px;
                                    display: flex;
                                    justify-content: flex-start !important;
                                }
                                &.l8  {
                                    min-height: 85px;
                                }
                                &.l9  {
                                    min-height: 245px;
                                }
            
                            }
                        }
                    }
                }
            }

        }
    }
    .how-it-works {
        margin-top: 75px;
        flex-direction: column;
        padding: 15px;
        .img {
            order: 2;
            width: 110%;
            margin-right: -50px;
            margin-top: -50px;
            margin-left: 25px;

            img {
                width: 100%;
            }
        }
        .text {
            width: 100%;
            span {
                font-size: 20px;
                line-height: 150%;
            }
            p {
                font-size: 13px;
                line-height: 200%;
            }
        }
    }

    .section-partners {
        min-height: 100%;
        &::before {
            width: 100%;
         
        }
        &::after {
            width: 100%;
            left: 0;
            right: unset;
        }
        .container {
            align-items: center;
            flex-direction: column;
        }
    }
    .partners-text-form {
        max-width: 100%;
        span {
            font-size: 17px;
            line-height: 150%;
        }
        p {
            font-size: 13px;
            line-height: 150%;
            opacity: 0.8;
        }
        .mobile {
            display: flex;
        }
        form {
            width: 100%;
            max-width: 250px;
            input {
                max-width: 100%;
                margin-right: 0;
            }
            .phone {
                max-width: 100%;
            }
        }
    }
    .partners-vertical {
        max-width: 100%;
        display: none;
        .box {
            width: 100% !important;
            margin-left: 0 !important;
            span {
                font-size: 15px;
                line-height: 150%;
                padding-left: 0;
                border: none;
            }
            p {
                font-size: 13px;
                line-height: 150%;
            }
        }
    }

    .section-advantages {
        min-height: 100%;
        padding: 30px 0;
        .container {
            flex-direction: column;
            .title-unic {
                margin-bottom: 70px;
            }
        }
    }

    .section-news {
        min-height: 100%;
        display: none;
        overflow: hidden;
        &.mobile {
            display: block;
        }
        .container {
            .news-row {
              
                .box {
                    max-width: 100%;
                }
                .swiper-mobile {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide {
                            .box {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        min-height: 100%;
        flex-direction: column;
        padding-top: 33px;
        a {
            margin-bottom: 33px;
        }
    }

    .modal-menu {
        width: 100%;
        height: calc(100% - 80px);
        position: fixed;
        left: 0;
        top: 80px;
        z-index: 50;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.2);
        transition: 0.3s;
        &.active {
            opacity: 1;
            pointer-events: visible;
            transform: scale(1);
        }
        .menu {
            height: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 40px 0;
            a {
                
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                
                color: #241355;
            }
        }
        hr {
            width: 100%;
            border: 1px solid #F0F0F0;
        }
        .add-info {
            display: flex;
            justify-content: space-around;
            height: 100%;
            max-height: 100px;
            width: 100%;
            align-items: center;
            flex-direction: column;

            a {
               
                font-weight: normal;
                font-size: 11px;
                line-height: 14px;
                color: #241355;
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }
        .lang-header {
            display: flex;
            width: 100%;
            height: 100%;
            max-height: 100px;
            justify-content: center;

            align-items: center;
            a {
                
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                margin: 0 18px;
                color: #BDB8CC;
                &.active {
                    color: #241355;
                }
            }
        }
    }
    
    .modal-contact {
        height: 100%;
        min-height: 100%;
      
        .modal-contact-body {
            padding: 15px;
            min-height: 100%;
            .close {
                right: 15px;
                top: 15px;
            }
            .title {
                font-size: 22px;
            }
            .subtitle {
                font-size: 14px;
                line-height: 150%;
                br {
                    display: none;
                }
            }
            form {
                input {
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
            .politic {
                font-size: 11px;
            }
        }
    }
}